{
  "presets": [
    ["@babel/preset-env", { "targets": { "node": "current" } }],
    ["@babel/preset-typescript", {
      "allowNamespaces": true
    }]
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
          "@config": "./src/config",
          "@consts": "./src/consts",
          "@db": "./src/db",
          "@enums": "./src/enums",
          "@helpers": "./src/helpers",
          "@libs": "./src/libs",
          "@routes": "./src/routes",
          "@services": "./src/services",
          "@system": "./src/system",
          "@customTypes": "./src/types",
          "@utils": "./src/utils"
        }
      }],
    "babel-plugin-transform-typescript-metadata",
    ["@babel/plugin-transform-typescript", { "allowNamespaces": true }],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}
