node_modules
build
temp
coverage
dist
.env
.runtime
prisma
.DS_Store
.terraform
.terraform.lock.hcl
.terraform/
authorizer.zip
/functions/lambda-authorizer/authorizer.zip
**/.terraform/*
*.tfstate
*.tfstate.*
/infrastructure/terraform/.terraform
/infrastructure/terraform/.terraform/*
/infrastructure/terraform/terraform.tfstate

!tmp/.gitkeep
translation.missing.json

infrastructure/.terraform.lock.hcl
infrastructure/terraform.tstate.backup
infrastructure/terraform.tstate.backup
