node_modules
build
temp
coverage
dist
.env
.runtime
prisma
.DS_Store
firebase-debug.log
infrastructure/terraform-sa-key.json

!tmp/.gitkeep
translation.missing.json

infrastructure/.terraform.lock.hcl
infrastructure/terraform.tstate.backup
infrastructure/terraform.tstate.backup
